@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: #ff4b2b;
    background-color: rgba(0, 255, 238, 0.272);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff416c, #ff4b2b);
    border-radius: 10px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeLi {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeLi {
    animation: fadeLi 1.5s ease-out;
}

@keyframes fadeUl {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fadeUl {
    animation: fadeUl 1.25s ease-out;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-5%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-bounce {
    animation: bounce 10s infinite;
}

.text-shadow-lg {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}